{% extends "bootstrap/base.html" %}

{% block title %}
      {% if title %}
     {{ title }} - Reddit Archiver
      {% else %}
      Reddit Archiver
      {% endif %}
{% endblock %}

{# from https://github.com/miguelgrinberg/microblog/blob/v0.11/app/templates/base.html #}
{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Reddit Archiver</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('submissions') }}">Submission Scraper</a></li>
                    <li><a href="{{ url_for('comments') }}">Comment Scraper</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
        {% block content %}{% endblock %}
    </body>
</html>